RESEND_API_KEY=
CONTACT_TO_EMAILS=djskabi@gmail.com,palombo.r@gmail.com,s0509350015@gmail.com
CONTACT_FROM_EMAIL=SpaPlus Global <hello@mail.spaplus.co>
CONTACT_TO_EMAIL=djskabi@gmail.com
CONTACT_FROM_EMAIL=SpaPlus Global <hello@mail.spaplus.co>
