RESEND_API_KEY=
CONTACT_TO_EMAILS=djskabi@gmail.com,palombo.r@gmail.com,s0509350015@gmail.com
META_ONTARIO_CONTACT_TO_EMAILS=adir@spaplus.co.il,galia@spaplus.ca
CONTACT_FROM_EMAIL=SpaPlus Global <hello@mail.spaplus.co>
PROJECT_PORTAL_BACKEND_SECRET=
BUGS_SHEET_URL=
BUGS_WEBHOOK_URL=
BUGS_WEBHOOK_SECRET=
CONTACT_TO_EMAIL=djskabi@gmail.com
CONTACT_FROM_EMAIL=SpaPlus Global <hello@mail.spaplus.co>
